.carousel-item img{
    
    position: relative;
   
}
.single-banar{
	position: absolute;
	top: 5%;
	text-align: center;
	left: 40%;
}
.content-header{
	display: flex;
	justify-content: space-between;


}
.content-text{
	text-align: justify;
}